@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');
body{
    background-color: #eee;
    font-family: 'Lato', sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}
header{
    background-color: #fff;
    padding: 20px;
    float: left;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
header .logo img{
    width: 300px;
    float: left;
}
ul{
    float: right;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}
li{
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}
a{
    color: #000;
    text-decoration: none;
    margin: 0;
    padding: 10px 20px;
    font-weight: bold;
}
main{
    margin: 150px 0;
    text-align: center;
}
.s1{
    margin-bottom: 60px;
}
form{
    margin: 40px 0;
}
input{
    margin: 10px 0;
    padding: 10px;
    width: 350px;
    font-size: 18px;
}
input[type='submit']{
    width: 150px;
    padding: 10px;
    font-size: 18px;
    text-transform: uppercase;
    background-color: hsl(22, 90%, 50%);
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}
.desc{
    display: flex;
    text-align: left;
    width: 100%;
    margin: 30px 0;
}
.icon{
    width: 20%;
    font-size: 40px;
    padding: 10px;
    margin: 15px;
}
.content{
    width: 80%;
}
#video{
    width: 560px;
    height: 315px;
    margin: 40px 0;
}
.pricing{
    width: 100%;
    display: flex;
    margin: auto;
}
.pric{
    margin: auto;
    background-color: #fff;
    width: 30%;
    padding: 20px;
    border-radius: 5px;
    border: solid 1px;
}
.title{
    background-color: #eee;
    padding: 20px;
}
h3{
    font-size: 30px;
    margin: 20px 0;
}
.pric p{
    margin: 20px 0;
}
button{
    width: 100px;
    padding: 15px;
    font-size: 18px;
    text-transform: uppercase;
    background-color: hsl(22, 90%, 50%);
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}
footer{
    text-align: right;
    background-color: #fff;
    padding: 20px;
}
footer p{
    margin-right: 20px;
    padding: 10px 0;
}
@media (max-width: 599px) {
    .pricing{
        display: block;
    }
    .pric{
        display: block;
        width: 90%;
        margin: 20px auto;
    }
    #video{
        width: 450px;
        height: 290px;
    }
}